<div class="container-fluid fondo-blanco experiencia-kleer">
	<div class="container">
		<h2><%=t("kleexperience.title")%></h2>

		<div class="panel panel-no-border panel-no-shadow">
  			<div class="panel-body">
  				<div class="col-md-3">
  					<img src="/img/experiencia/facilitadores.jpg" class="img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
	    			<h3><%=t("kleexperience.professionals.title")%></h3>
                    <%=t("kleexperience.professionals.description")%>
				</div>
  			</div>
		</div>

		<div class="panel panel-no-border panel-no-shadow">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/vivenciales.jpg" class="img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
                    <h3><%=t("kleexperience.experiential.title")%></h3>
                    <%=t("kleexperience.experiential.description")%>
				</div>
  			</div>
		</div>


		<div class="panel panel-no-border panel-no-shadow">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/aprendizaje1.jpg" class="img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
                    <h3><%=t("kleexperience.lasting_learning.title")%></h3>
                    <%=t("kleexperience.lasting_learning.description")%>
				</div>
  			</div>
		</div>

		<div class="panel panel-no-border panel-no-shadow">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/motivante.jpg" class="img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
                    <h3><%=t("kleexperience.inspiring.title")%></h3>
                    <%=t("kleexperience.inspiring.description")%>
				</div>
  			</div>
		</div>
	</div>
</div>