<div class="container-fluid fondo-verde slide-home-contactanos">
	<div class="container">
		<div class="container-fluid">
			<div class="col-md-3 contactanos-side visible-lg visible-md">
				<img src="/img/personajes/contactanos-izq.png" height="550">
			</div>
			<div class="col-md-9 col-lg-6 contactanos">
				<h2><%=t("contact.contact_us")%></h2>

				<ul class="nav nav-tabs" id="contactanos-tabs">
					<li class="active"><a href="#argentina" data-toggle="tab">
						<img src="/img/flags/ar.png"><br/>AR
					</a></li>
					<li><a href="#brasil" data-toggle="tab">
						<img src="/img/flags/br.png"><br/>BR
					</a></li>
					<li><a href="#bolivia" data-toggle="tab">
						<img src="/img/flags/bo.png"><br/>BO
					</a></li>
					<li><a href="#colombia" data-toggle="tab">
						<img src="/img/flags/co.png"><br/>CO
					</a></li>
					<li><a href="#peru" data-toggle="tab">
						<img src="/img/flags/pe.png"><br/>PE
					</a></li>
					<li><a href="#uruguay" data-toggle="tab">
						<img src="/img/flags/uy.png"><br/>UY
					</a></li>
					<li><a href="#europa" data-toggle="tab">
						<img src="/img/flags/eu.png"><br/>EU
					</a></li>
					<li><a href="#mexico" data-toggle="tab">
						<img src="/img/flags/mx.png"><br/>MX
					</a></li>
					<li><a href="#otro" data-toggle="tab">
						<img src="/img/flags/ol.png"><br/><%=t("contact.locations.other.title")%>
					</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active contactanos-tab-content" id="argentina">
						<div class="row">
							<div class="col-md-9">
                              <%=t("contact.locations.argentina.address1")%><br/>
                              <%=t("contact.locations.argentina.address2")%><br/>
                              <%=t("contact.locations.argentina.phone")%> (9 a 18 hs)<br/>
							<a href="mailto:info.ar@kleer.la">info.ar@kleer.la</a><br/>
							&nbsp;<br/>
							<%=t("contact.helped_by")%>: Constanza y Flor
							</div>
							<div class="col-md-3">
								<a href="http://qr.afip.gob.ar/?qr=5DjfcAnZHIhtGI65mHIRlA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" height="100"></a>
							</div>
						</div>
					</div>
					<div class="tab-pane contactanos-tab-content" id="brasil">
                      <%=t("contact.locations.brasil.address1")%><br/>
                      <%=t("contact.locations.brasil.address2")%><br/>
                      <%=t("contact.locations.brasil.phone")%><br/>
						<a href="mailto:info.br@kleer.la">info.br@kleer.la</a><br/>
						&nbsp;<br/>
						Você entrará em contato com: Angélica
					</div>
					<div class="tab-pane contactanos-tab-content" id="bolivia">
                      <%=t("contact.locations.bolivia.address1")%><br/>
                      <%=t("contact.locations.bolivia.address2")%><br/>
                      <%=t("contact.locations.bolivia.phone")%><br/>
						<a href="mailto:info.bo@kleer.la">info.bo@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.helped_by")%>: Israel
					</div>
					<div class="tab-pane contactanos-tab-content" id="colombia">
                      <%=t("contact.locations.colombia.address1")%><br/>
                      <%=t("contact.locations.colombia.address2")%><br/>
                      <%=t("contact.locations.colombia.phone")%><br/>
						<a href="mailto:info.co@kleer.la">info.co@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.helped_by")%>: Jennifer
					</div>
					<div class="tab-pane contactanos-tab-content" id="peru">
                      <%=t("contact.locations.peru.address1")%><br/>
                      <%=t("contact.locations.peru.address2")%><br/>
						&nbsp;<br/>
						<a href="mailto:info.pe@kleer.la">info.pe@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.helped_by")%>: Jessy
					</div>
					<div class="tab-pane contactanos-tab-content" id="uruguay">
                      <%=t("contact.locations.uruguay.address1")%><br/>
                      <%=t("contact.locations.uruguay.address2")%><br/>
											<%=t("contact.locations.uruguay.phone")%><br/>
						&nbsp;<br/>
						<a href="mailto:info.uy@kleer.la">info.uy@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.helped_by")%>: Pablo
					</div>
					<div class="tab-pane contactanos-tab-content" id="europa">
                      <%=t("contact.locations.europa.address1")%><br/>
                      <%=t("contact.locations.europa.address2")%><br/>
                      <%=t("contact.locations.europa.phone")%><br/>
						<a href="mailto:info.eu@kleer.la">info.eu@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.helped_by")%>: Milan
					</div>
					<div class="tab-pane contactanos-tab-content" id="mexico">
						<a href="mailto:info.mx@kleer.la">info.mx@kleer.la</a><br/>
						&nbsp;<br/>
						<%=t("contact.locations.mexico.partners")%> <a href="http://scrum.org.mx" target="_blank">Scrum México</a
						><br/>
						Monte Athos 115  - 11000, D.F.<br/>
						+52 55 5276 4486
					</div>
					<div class="tab-pane contactanos-tab-content" id="otro">
						&nbsp;<br/>
						&nbsp;<br/>
						<%=t("contact.locations.other.contact_us")%>:<br/>
						<a href="mailto:info@kleer.la">info@kleer.la</a><br/>
						&nbsp;<br/>
						&nbsp;
					</div>
				</div>
				&nbsp;<br/>
				<a class="btn btn-social-icon btn-facebook" href="http://facebook.com/kleer.la" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/kleer_la" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/company/541684" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/106280725763107001222" target="_blank">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-social-icon btn-github" href="https://github.com/kleer-la" target="_blank">
					<i class="fa fa-github"></i>
				</a>
				&nbsp;<br/>
				&nbsp;<br/>
				&nbsp;<br/>
			</div>
			<div class="col-md-3 contactanos-side visible-lg">
				<img src="/img/personajes/contactanos-dcha.png" height="550">
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function(){
    $('#contactanos-tabs').tab();
  });
</script>
