<%
pop_over = pop_over||'bottom'
screen_name = screen_name||'kleer_la'
%>
<div class="popover <%=pop_over%>" style="display:inline-block;position:relative" id="<%=screen_name%>_twitter_container">
    <div class="arrow"></div>
    <h3 class="popover-title">
        <a href="https://twitter.com/<%=screen_name%>" target="_blank"><img src="/img/icons/twitter.png" height="24" width="24"></a> @<%=screen_name%>
    </h3>
    <div class="popover-content" id="<%=screen_name%>_last_tweet">
        Buscando último tweet...
    </div>
</div>
<script>
$(document).ready(function() {
    getTweet('/last-tweet/<%=screen_name%>', '#<%=screen_name%>_last_tweet');

    function getTweet(url, id) {
        jQuery.get(url, function(data) {
            tweet = processTweet(data);
            $(id).html(tweet);
        });
    }

    function processTweet(tweet) {
        tweet = tweet.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig, function(url) {
            return '<a href="'+url+'">'+url+'</a>';
        }).replace(/B@([_a-z0-9]+)/ig, function(reply) {
            return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
        });
        return tweet;
    }
});
</script>