<div class="container-fluid fondo-celeste-mosaico slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h1><%=t("coaching.title")%></h1>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-amarillo slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<p class="lead"><%=t("coaching.subtitle")%></p>
			<%=t("coaching.text")%>
			
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#beneficios" data-toggle="tab"><%=t("coaching.tabs.benefits.title")%></a></li>
			  <li><a href="#servicio" data-toggle="tab"><%=t("coaching.tabs.characteristics.title")%></a></li>
			  <li><a href="#cotizar" data-toggle="tab"><%=t("coaching.tabs.contact.title")%></a></li>
			</ul>
			
			<div class="tab-content">
			  	<div class="tab-pane" id="beneficios"><%=t("coaching.tabs.benefits.text")%></div>
		  		<div class="tab-pane active" id="servicio"><%=t("coaching.tabs.characteristics.text")%></div>
		  		<div class="tab-pane" id="cotizar"><%=t("coaching.tabs.contact.text")%></div>		
			</div>
		</div>

		<div class="col-md-3">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
