<script type="text/javascript" src="/js/jquery.js"/></script>
<style>
	body {
		background: url(/img/fondos/fondo-06.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1><%=t("coaching.title")%></h1>
		<p class="lead"><%=t("coaching.subtitle")%></p>
		<%=t("coaching.text")%>
		
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#beneficios" data-toggle="tab"><%=t("coaching.tabs.benefits.title")%></a></li>
		  <li><a href="#servicio" data-toggle="tab"><%=t("coaching.tabs.characteristics.title")%></a></li>
		  <li><a href="#cotizar" data-toggle="tab"><%=t("coaching.tabs.contact.title")%></a></li>
		</ul>
		
		<div class="tab-content">
		  	<div class="tab-pane" id="beneficios"><%=t("coaching.tabs.benefits.text")%></div>
	  		<div class="tab-pane active" id="servicio"><%=t("coaching.tabs.characteristics.text")%></div>
	  		<div class="tab-pane" id="cotizar"><%=t("coaching.tabs.contact.text")%></div>		
		</div>
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-04.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
