<div class="container-fluid fondo-rosa">
	<div class="container">
		<div class="container-fluid container-header-generico container-header-cursos">
			<div class="col-md-12">
				<h1><%=t("catalog.title")%></h1>
				<%=t("catalog.description")%>
			</div>
		</div>
	</div>
	&nbsp;<br/>
	<div class="container">
		<div class="container-fluid">
			<% @categories.each do |category| %>
				<div class="col-md-4">
					<div class="well categoria-<%= category.codename %>">
						<h2><%= category.name %></h2>
						<div class="list-group">
							<% category.event_types.sort_by { |et| et.name}.each do |event_type| %>
							  <a href="/<%=session[:locale]%>/categoria/<%=category.codename%>/cursos/<%= event_type.uri_path%>" class="list-group-item">
							    <h3 class="list-group-item-heading"><%=event_type.name%></h3>
							    <p class="list-group-item-text">
							    	<%=event_type.duration%> horas.
							    	<% if event_type.surveyed_count > 20 && !event_type.average_rating.nil? %>
				                      &nbsp;<div class="stars" id="rating<%= event_type.id %>" data-toggle="tooltip" data-placement="top" title="Rating: <%=event_type.average_rating%>/5 en base a <%=event_type.surveyed_count%> opiniones">
				                        <div style="width:<%=event_type.average_rating.to_f*16%>px;"/></div>
				                      </div>
				                      <script type="text/javascript">
				                        $(document).ready(function(){
				                            $('#rating<%= event_type.id %>').tooltip();
				                          });
				                      </script>
				                    <% end %>
							    </p>
							  </a>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="container-fluid fondo-panramica-2"></div>

<%= erb :_slide_experiencia_kleer, :layout => false %>

<div class="container-fluid fondo-panramica-3"></div>

<div class="container-fluid fondo-rosa">
	<div class="container">
		&nbsp;<br/>
		<%=t('training.incompany')%>&nbsp;&nbsp;
		<a href="http://media.kleer.la/kleer-entrenamos-2014.pdf" class="btn btn-info btn-kleer"><%=t('training.more_info')%></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:<%=t('contact.training_email')%>" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a>
		<br/>&nbsp;
		<br/>&nbsp;
		<br/>&nbsp;
		<br/>&nbsp;
	</div>
</div>