<script type="text/javascript" src="/js/jquery.js"/></script>
<style>
	body {
		background: url(/img/fondos/fondo-06.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span9">
		
		<div style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
			<h1><%= @category.name %></h1>
			<p class="lead"><i><%= @category.tagline %></i></p>
			<p><%= @markdown_renderer.render( @category.description )%></p>
		</div>
		<br/>&nbsp;<br/>
		<div style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
			<h3><%=t("category.training")%></h3>
			<p>Adem치s del acompa침amiento y coaching personalizado, podemos hacer intervenciones m치s puntuales, realizando en tu organizaci칩n, alguno de los siguientes entrenamientos privados.</p>

			<div class="accordion" id="accordion">
				
				<% @event_types.each do |event_type| %>
				
					<% if event_type.elevator_pitch != "" %>
				
				  		<div class="accordion-group">
						    <div class="accordion-heading">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= event_type.id %>">
						          <i class="icon-plus"></i>&nbsp;<%= event_type.name %>
						        </a>
						    </div>
						    <div id="collapse<%= event_type.id %>" class="accordion-body collapse">
						      <div class="accordion-inner">
						        	<%= event_type.elevator_pitch %>
								<br/>
								<a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/cursos/<%= event_type.uri_path%>"><%=t("category.see_more")%> >></a>
						      </div>
						    </div>
						  </div>
					
					<% end %>
					
				<% end %>
			</div>
			
		</div>
		
	</div>
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-04.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
