<div class="container-fluid fondo-celeste slide-header-generico slide-header-cursos">
	<div class="container">
		<div class="container-fluid container-header-generico container-header-cursos">
			<div class="col-md-8">
				<h1><%=t("community.title")%></h1>
				<p>Las comunidades ágiles son grupos de practicantes de métodos ágiles sin ánimo de lucro que están distribuidos por todo el mundo. Estos grupos son organizaciones horizontales en donde no hay un líder visible sino que sus miembros se auto-organizan para realizar diferentes actividades que les permita difundir conocimiento e intercambiar experiencias.</p>
				<p>Kleer nació gracias a la comunidad, por esto estamos comprometidos con ella proponiendo y organizando eventos que difundan la filosofía ágil.</p>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/actividades-comunitarias.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid">
			<div class="col-md-8">
				<div class="paper-agenda-container paper-agenda-container-comunidad">
					<div class="paper-agenda-top"></div>
					<div class="paper-agenda-body paper-agenda-body-comunidad">
					<h2>Agenda</h2>
					<ul id="country-filter" class="nav nav-pills">
						<li class="active"><a href="/<%=session[:locale]%>/comunidad/eventos/pais/todos"><%=t("dt_grid.select_all")%></a></li>
					    <% @unique_countries.each do |country| %>
							<li><a href="/<%=session[:locale]%>/comunidad/eventos/pais/<%= country.iso_code %>"><%= country.name %> <img src="/img/flags/<%= country.iso_code %>.png" title="<%= country.name %>"></a></li>
					    <% end %>
					</ul>
						<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos" width="100%">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="paper-agenda-bottom"></div>
				</div>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm fondo-gris side-cursos">
				<h2>Comunidades</h1>
				<a href="#">Latinoamericana</a><br/>
				&nbsp;<br/>
				<a href="#">Argentina</a><br/>
				<a href="#">Chile</a><br/>
				<a href="#">Colombia</a><br/>
				<a href="#">España</a><br/>
				<a href="#">México</a><br/>
				<a href="#">Paraguay</a><br/>
				<a href="#">Perú</a><br/>
				<a href="#">Uruguay</a><br/>
				<a href="#">Venezuela</a><br/>
				&nbsp;
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-panramica-1"></div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

	var oTable;

	$(document).ready(function() {

		oTable = $('#cursos').dataTable( {
			"ajax": '/<%=session[:locale]%>/comunidad/eventos/pais/todos',
			"searching": false,
			"ordering": false,
			"paging": false,
			"bLengthChange": false,
			"aoColumns": [
				{ "sWidth": "10%" },
				{ "sWidth": "90%" }
			],
			/* "sScrollY": "300px", */
			"oLanguage": {
				"sLengthMenu":   "Mostrar _MENU_ registros",
				"sZeroRecords":  "<div class=\"alert alert-warning center\"><%=t("dt_grid.loading")%></div>",
				"sInfo":         "",
				"sInfoEmpty":    "",
				"sInfoFiltered": "",
				"sInfoPostFix":  "",
				"sUrl":          ""
			},
			"fnInitComplete": function(oSettings, json) {
				oSettings.oLanguage.sZeroRecords = "<div class=\"alert alert-warning\"><%=t("dt_grid.no_courses_found")%></div>";
			}
		});

		$("ul#country-filter > li > a").on("click", function(event) {
			event.preventDefault();

			var newSource = $(this).attr("href");
			reloadTableAjax(newSource);

			var containerUl = $(this).parent().parent();
			containerUl.children("li").removeClass("active");

			var clickedLi = $(this).parent();
			clickedLi.addClass("active");
		});

	});

	function reloadTableAjax( newSource ) {
		oTable = $('#cursos').DataTable();
		oTable.clear().draw();
		oTable.ajax.url( newSource ).load();
	}
		
</script>
