
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row">
	<div class="span4" style="text-align:center;">  
		<img src="/img/logos/logo-agiles2013.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
	
	<div id="myModalRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h4 id="myModalLabel">Registro a Curso</h4>
	  </div>
	  <div class="modal-body">
	    <p>Cargando...</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>
	
	<div class="span7" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Eventos Comunitarios</h1>
		<ul id="country-filter" class="nav nav-pills">
			<li class="active"><a href="/comunidad/eventos/pais/todos">Todos</a></li>
    <% @unique_countries.each do |country| %>
			<li><a href="/comunidad/eventos/pais/<%= country.iso_code %>"><%= country.name %> <img src="/img/flags/<%= country.iso_code %>.png" title="<%= country.name %>"></a></li>
    <% end %>
			<li><a href="/comunidad/eventos/pais/otro">¿Otro?</a></li>
		</ul>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos"><thead></thead><tbody></tbody></table>
		<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/js/dt_eventos_comunidad.js"></script>
		<script type="text/javascript">
		<!--
		$('body').on('hidden', '#myModalRegistration', function () {
		  $(this).removeData('modal');
		});
		
		-->
		</script>
	</div>  
</div>
