<style>
.bg {
	position:absolute;
	width:100%;
	height:800px;
	z-index:-100;
	background-color:#000000;
}

.bg > div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.bg-normal {
	z-index:10;
	background-color: #5b92dc;
	background-image:url(/img/ebooks/scrum-bg-gray.jpg);
}

.story-cover-arrow {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: -100px;
	left: 50%;
	margin-left: -8px;
	border: 2px solid rgba(255,255,255,0.75);
	background: rgba(0,0,0,0);
	border-left: 0;
	border-top: 0;
	outline: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	/* cursor: pointer; */
	bottom: 100px;
}

.headh1 {
	font-size: 900%;
}

.headh2 {
	font-size: 400%;font-weight: 200;
}

</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="bg">
  <div class="bg-normal"></div>
</div>

<div class="container-fluid" style="height: 400px;">
	<div>
		&nbsp;
	</div>
	<div class="col-md-2 col-md-offset-9">
		<a href="/<%=session[:locale]%>/"><img src="/img/logos/logo-kleer-blanco.png"/></a>
	</div>
</div>

<div class="container-fluid" style="height: 400px;">
	<div class="col-md-2 col-md-offset-3">
		<img src="/img/ebooks/scrum.jpg" class="img-rounded img-responsive">
	</div> 
	<div class="col-md-4" style="text-align:center;color:#FFFFFF;text-shadow: 1px 1px 5px #000;">
 			<h2 class="headh2"><%=t("publishing.books.scrum.title1")%></h2>
			<br/><br/>
			<h1 class="headh1"><%=t("publishing.books.scrum.title2")%></h1>
			<col-md- class="story-cover-arrow"></col-md->
	</div>
</div>

<div class="container-fluid" style="background-color:#5b92dc;color:#ffffff;text-align:center;">
	<h1>&nbsp;</h1>
	<h2 class="headh2"><%=t("publishing.books.scrum.subtitle1")%></h2>
	<h2 class="headh2"><%=t("publishing.books.scrum.subtitle2")%></h2>
	<h1>&nbsp;</h1>
</div>

&nbsp;

<div class="container-fluid">
	<div class="col-md-3 col-md-offset-2" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><%=t("publishing.buy.paperback_and_kindle")%></a>
		<br/>USD 9.95<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a><br/><br/>
			<img src="/img/ebooks/matchbook.png"><br/>
			<em>(*) <%=t("publishing.buy.amazon_matchbook")%></em>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><%=t("publishing.buy.kindle")%></a>
		<br/>USD 0.99<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<%=t("publishing.buy.pdf")%><br/>Tweet + FREE<br/>
			<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
	</div>
</div>

&nbsp;

<div class="container-fluid" style="background-color: #e1e1e0;">
	&nbsp;
	<div class="col-md-8 col-md-offset-2" style="text-align: center;font-size: 150%; font-family: 'Dosis'; font-weight: 200;">
		<h3 style="font-weight: 200;"><%=t("publishing.books.scrum.text")%></h3>
	</div>
	&nbsp;
</div>

&nbsp;

<div class="container-fluid">
	<div class="col-md-3 col-md-offset-2" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><%=t("publishing.buy.paperback_and_kindle")%></a>
		<br/>USD 9.95<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a><br/><br/>
			<img src="/img/ebooks/matchbook.png"><br/>
			<em>(*) <%=t("publishing.buy.amazon_matchbook")%></em>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><%=t("publishing.buy.kindle")%></a>
		<br/>USD 0.99<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<%=t("publishing.buy.pdf")%><br/>Tweet + FREE<br/>
			<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
	</div>
</div>

&nbsp;

<div class="container-fluid" style="background-color: #e1e1e0;">
	&nbsp;
	<div class="col-md-8 col-md-offset-2" style=";font-size: 150%; font-family: 'Dosis'; font-weight: 200;">
		<h3 style="font-weight: 200;"><%=t("publishing.books.scrum.learnings")%></h3>
	</div>
	&nbsp;
</div>

&nbsp;

<div class="container-fluid">
	<div class="col-md-3 col-md-offset-2" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><%=t("publishing.buy.paperback_and_kindle")%></a>
		<br/>USD 9.95<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a><br/><br/>
			<img src="/img/ebooks/matchbook.png"><br/>
			<em>(*) <%=t("publishing.buy.amazon_matchbook")%></em>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><%=t("publishing.buy.kindle")%></a>
		<br/>USD 0.99<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<%=t("publishing.buy.pdf")%><br/>Tweet + FREE<br/>
			<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
	</div>
</div>

&nbsp;

<div class="container-fluid">
	<div class="col-md-12" style="text-align:center;">
		<div class="well well-small">
			<h3><%=t("publishing.books.scrum.video.title")%></h3> 
			<iframe width="640" height="480" src="//www.youtube.com/embed/IWUG29VPhUA" frameborder="0" allowfullscreen></iframe>
			<p><%=t("publishing.books.scrum.video.download")%></p>
		</div>
	</div>
</div>

&nbsp;

<div class="container-fluid">
	<div class="col-md-3 col-md-offset-2" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><%=t("publishing.buy.paperback_and_kindle")%></a>
		<br/>USD 9.95<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a><br/><br/>
			<img src="/img/ebooks/matchbook.png"><br/>
			<em>(*) <%=t("publishing.buy.amazon_matchbook")%></em>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><%=t("publishing.buy.kindle")%></a>
		<br/>USD 0.99<br/>
			<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
	</div>
	<div class="col-md-3" style="text-align:center;">
		<%=t("publishing.buy.pdf")%><br/>Tweet + FREE<br/>
			<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
	</div>
</div>

&nbsp;

<div class="container-fluid" style="background-color: #5b92dc;">
	<div class="col-md-6 col-md-offset-3">
		<h1 style="color: #ffffff;"><%=t("publishing.others.title")%></h1>
		&nbsp;
		<div class="container-fluid">
			<div class="col-md-6">
				<a href="/<%=session[:locale]%>/publicamos/mas-productivos"><p align="center"><img src="/img/ebooks/mas-productivos-288.jpg" class="img-rounded"></a></p>

				<div class="well well-small">
					<h4><%=t("publishing.books.mas_productivos.title")%></h4>
					<p><%=t("publishing.books.mas_productivos.text")%></p>
					<p><a href="/<%=session[:locale]%>/publicamos/mas-productivos"><%=t("publishing.books.mas_productivos.next")%></a></p>
				</div>
			</div>
			<div class="col-md-6">
				<p align="center"><img src="/img/ebooks/retrospectivas.png" class="img-rounded"></p>

				<div class="well well-small">
					<h4><%=t("publishing.books.retrospectives.title")%></h4>
					<p><%=t("publishing.books.retrospectives.text")%></p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=d999f0797cb600c38e17891503cb3b05" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
			
		</div>		
	</div>
