<style>
	body {
		background: url(/img/fondos/fondo-08.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row-fluid">
	<div class="span9" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<div class="row-fluid">
			<div class="span3">
				<a href="/<%=session[:locale]%>/publicamos/scrum"><p align="center"><img src="/img/ebooks/scrum.jpg" class="img-rounded"></p></a>
			</div>
			<div class="span9">
				<h1><%=t("publishing.books.scrum.title")%></h1>
				<h2><i><%=t("publishing.books.scrum.subtitle")%></i></h2>
				<div class="well well-small">
					<p><%=t("publishing.books.scrum.text")%></p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				<%=t("publishing.books.scrum.download.pdf")%><br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span12">
				<div class="well well-small">
					<%=t("publishing.books.scrum.learnings")%>
				</div>
			</div>
		</div>	
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				<%=t("publishing.books.scrum.download.pdf")%><br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span12" style="text-align:center;">
				<div class="well well-small">
					<h3><%=t("publishing.books.scrum.video.title")%></h3> 
					<iframe width="640" height="480" src="//www.youtube.com/embed/IWUG29VPhUA" frameborder="0" allowfullscreen></iframe>
					<p><%=t("publishing.books.scrum.video.download")%></p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				<%=t("publishing.books.scrum.download.pdf")%><br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<hr/>
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-05.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
