<style>
	body {
		background: url(/img/fondos/fondo-04.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span4">  
		<img src="/img/logos/logo-02.png">
	</div>
	<div class="span7" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Nuestros cursos</h1>
		<!--div class="navbar">
			<div class="navbar-inner">
				<span class="brand">País</span>
				<ul id="course-country-filter" class="nav">
					<li class="active"><a href="/entrenamos/eventos/pais/todos">Todos</a></li>
<% @unique_countries.each do |country| %>
			<li><a href="/entrenamos/eventos/pais/<%= country.iso_code %>"><img src="/img/flags/<%= country.iso_code %>.png" title="<%= country.name %>"></a></li>
<% end %>
					<li><a href="/entrenamos/eventos/pais/otro">¿Otro?</a></li>
				</ul>
			</div>
		</div-->
		<ul id="course-country-filter" class="nav nav-pills">
			<li class="active"><a href="/entrenamos/eventos/pais/todos">Todos</a></li>
<% @unique_countries.each do |country| %>
			<li><a href="/entrenamos/eventos/pais/<%= country.iso_code %>"><%= country.name %> <img src="/img/flags/<%= country.iso_code %>.png" title="<%= country.name %>"></a></li>
<% end %>
			<li><a href="/entrenamos/eventos/pais/otro">¿Otro?</a></li>
		</ul>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos"><thead></thead><tbody></tbody></table>
		<script type="text/javascript" src="/js/jquery.js"/></script>
		<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/js/dt_cursos_entrenamos.js"></script>
	</div>  

</div>
