<div class="container-fluid fondo-amarillo slide-header-generico slide-header-cursos">
	<div class="container">
		<div class="container-fluid container-header-generico container-header-cursos">
			<div class="col-md-8">
				<h1><%=t("training.title")%></h1>
				<%=t("training.description")%>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/vive-las-met.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-amarillo">
	<div class="container">
		<div class="container-fluid">
			<div class="col-md-8">
				<div class="paper-agenda-container">
					<div class="paper-agenda-top"></div>
					<div class="paper-agenda-body">
					<h2>Agenda</h2>
					<ul id="country-filter" class="nav nav-pills">
						<li class="active"><a href="/<%=session[:locale]%>/entrenamos/eventos/pais/todos"><%=t("dt_grid.select_all")%></a></li>
					    <% @unique_countries.each do |country| %>
							<li><a href="/<%=session[:locale]%>/entrenamos/eventos/pais/<%= country.iso_code %>"><%= country.name %> <img src="/img/flags/<%= country.iso_code %>.png" title="<%= country.name %>"></a></li>
					    <% end %>
					</ul>
						<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos" width="100%">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="paper-agenda-bottom"></div>
				</div>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm">
				<div class="col-md-12 fondo-gris side-cursos">
					<h2><%=t("scrumalliance.title")%></h1>
				</div>
				<div class="col-md-12">
					&nbsp;<br/>
					<a href="http://www.scrumalliance.org/community/profile/kleer" target="_blank"><img src="/img/sa-rep-logo.png" class="img-responsive"></a>
					<br/>
					<%=t("scrumalliance.description")%>
					<br/>&nbsp;
				</div>
				<div class="col-md-12 fondo-celeste sombra-amarilla">
					&nbsp;<br/><%=t("scrumalliance.why")%>
					&nbsp;<br/>
				</div>
				&nbsp;
				<div class="col-md-12 fondo-verde sombra-amarilla">
					<h2><%=t("scrumalliance.top")%></h1>
					
					<a href="/<%=session[:locale]%>/categoria/organizaciones/cursos/7-certified-scrum-master-(csm)">Certified ScrumMaster (CSM)</a><br/>
					&nbsp;<br/>
					<a href="/<%=session[:locale]%>/categoria/clientes/cursos/10-certified-scrum-product-owner-(cspo)">Certified Scrum Product Owner (CSPO)</a><br/>
					&nbsp;<br/>
					<a href="/<%=session[:locale]%>/categoria/productos/cursos/3-certified-scrum-developer-(csd-track-completo)">Certified Scrum Developer (CSD)</a><br/>
					&nbsp;<br/>
					<a href="/<%=session[:locale]%>/categoria/organizaciones/cursos/93-habilidades-esenciales-para-team-leaders">Habilidades Esenciales para Team Leaders</a><br/>
					&nbsp;<br/>
				</div>
				&nbsp;
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-pano pano-5"></div>

<%= erb :_slide_experiencia_kleer, :layout => false %>

<div class="container-fluid fondo-rosa">
	<div class="container">
		&nbsp;<br/>
		<%=t('training.incompany')%>&nbsp;&nbsp;
		<a href="http://media.kleer.la/kleer-entrenamos-2014.pdf" class="btn btn-info btn-kleer"><%=t('training.more_info')%></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:<%=t('contact.training_email')%>" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a>
		<br/>&nbsp;
	</div>
</div>

<div class="container-fluid fondo-pano pano-2"></div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

	var oTable;

	$(document).ready(function() {

		oTable = $('#cursos').dataTable( {
			"ajax": '/<%=session[:locale]%>/entrenamos/eventos/pais/todos',
			"searching": false,
			"ordering": false,
			"paging": false,
			"bLengthChange": false,
			"aoColumns": [
				{ "sWidth": "10%" },
				{ "sWidth": "90%" }
			],
			/* "sScrollY": "300px", */
			"oLanguage": {
				"sLengthMenu":   "Mostrar _MENU_ registros",
				"sZeroRecords":  "<div class=\"alert alert-warning center\"><%=t("dt_grid.loading")%></div>",
				"sInfo":         "",
				"sInfoEmpty":    "",
				"sInfoFiltered": "",
				"sInfoPostFix":  "",
				"sUrl":          ""
			},
			"fnInitComplete": function(oSettings, json) {
				oSettings.oLanguage.sZeroRecords = "<div class=\"alert alert-warning\"><%=t("dt_grid.no_courses_found")%></div>";
			}
		});

		$("ul#country-filter > li > a").on("click", function(event) {
			event.preventDefault();

			var newSource = $(this).attr("href");
			reloadTableAjax(newSource);

			var containerUl = $(this).parent().parent();
			containerUl.children("li").removeClass("active");

			var clickedLi = $(this).parent();
			clickedLi.addClass("active");
		});

	});

	function reloadTableAjax( newSource ) {
		oTable = $('#cursos').DataTable();
		oTable.clear().draw();
		oTable.ajax.url( newSource ).load();
	}
		
</script>
