<div class="container-fluid fondo-celeste slide-header-evento">
	<div class="container">
		<div class="container-fluid container-header-generico container-header-evento">
			<div class="col-md-7">
				<div class="evento-title-container">
					<h2><%= @event.event_type.name %></h2>
					<h3>
					<% if @event.is_online %>
						Online,
					<% elsif @event.is_classroom %>
						Presencial,
					<% elsif @event.is_classrooom %>
						Blended Learning,
					<% end %>
					<%= @event.event_type.duration%> <%=t("event.duration")%></h3>
					<p><%= @event.event_type.elevator_pitch %></p>

					<% if @event.event_type.has_rate %>
						<p>
						<div class="stars" id="rating" data-toggle="tooltip" data-placement="top" title="Rating: <%=@event.event_type.average_rating%>/5 <%=t("event.rating.based")%> <%=@event.event_type.surveyed_count%> <%=t("event.rating.opinion")%>">
							<div style="width:<%=@event.event_type.average_rating.to_f*16%>px;"/></div>
						</div>
						<script type="text/javascript">
						$(document).ready(function(){
    						$('#rating').tooltip();
  						});
						</script>
						</p>
					<% end %>

					<%if @event.is_sold_out%>
						<a href="#" class="btn btn-danger btn-kleer btn-caps">
							<%=t("general.buttons.complete")%>
						</a>
					<% else %>
						<%
						if @event.is_community_event
							button_text = t("general.buttons.register")
						else
							button_text = t("general.buttons.i_am_interested")
						end

						if @event.registration_link != ""
							registration_link = @event.registration_link
						else
							registration_link = "http://eventos.kleer.la/events/#{@event.id}/participants/new?lang=" + session[:locale]
						end

						%>
						<a href="<%=registration_link%>" target="_blank" class="btn btn-success btn-kleer btn-caps">
							<%=button_text%>
						</a>
					<% end %>
					<br/>&nbsp;
				</div>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<% if @event.is_community_event %>
					<img src="/img/personajes/<%=t('kleeros.community')%>" height="400">
				<% else %>
					<% if @event.event_type.has_rate %>
						<div class="col-md-12">
							<img src="/img/personajes/<%=t('kleeros.nps')%>" height="400">
						</div>
						<div class="col-md-5 evento-nps">
							<h2><%=@event.event_type.promoter_count%> de <%=@event.event_type.surveyed_count%></h2>
						</div>
						<div class="col-md-6 evento-nps-explanation">
							<a href="http://www.netpromoter.com/why-net-promoter/know/" target="_blank">Net Promoter Score</a>: <strong><%=@event.event_type.net_promoter_score%></strong></h2>
						</div>
					<% else %>
						<img src="/img/personajes/<%=t('kleeros.live')%>" height="500">
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%
if @event.is_community_event
	fondo_logistics = "fondo-rosa"
else
	fondo_logistics = "fondo-amarillo"
end
%>

<div class="container-fluid <%=fondo_logistics%> slide-evento-logistics">
	<div class="container">
		<!-- small (sm), medium (md) y large (lg) logistics -->
		<div class="container-fluid hidden-xs">

			<% if @event.trainer2.nil? %>
				NIL - solo <%= @event.trainer.name %>
			<% else %>
				Donde esta el co-trainer?
			<% end %>

			<!-- <div class="col-md-3 col-sm-6">
				<div class="container-fluid">
					<% if @event.trainer2.nil? %>
						<%= erb :single_trainer %>
					<% else %>
						<%= erb :with_cotrainer %>
					<% end %>
				</div>
			</div> -->

			<div class="col-md-3 col-sm-3 no-hpadding">
				<div class="col-md-3 col-sm-4 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-calendar big-glyphicon"></span>
				</div>
				<div class="col-md-9 col-sm-8 no-hpadding">
					<strong><%=t("event.date")%>:</strong><br/>
					<% if @event.finish_date.nil? || @event.date == @event.finish_date %>
					<%=@event.date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%>
					<% else %>
					Inicia: <%=@event.date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%><br/>
					Finaliza: <%=@event.finish_date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.finish_date.strftime("%b")]%>
					<% end %>
				</div>
			</div>

			<div class="col-md-3 col-sm-3 no-hpadding">
				<div class="col-md-3 col-sm-4 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-time big-glyphicon"></span>
				</div>
				<div class="col-md-9 col-sm-8 no-hpadding">
					<strong><%=t("event.hour")%>:</strong><br/>
					<%=t("event.time", :starts => @event.start_time.strftime("%k:%M"), :ends => @event.end_time.strftime("%k:%M") )%>
					<% if @event.is_online %>
						<br/><%=@event.place%>
					<% end %>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 no-hpadding">
				<div class="col-md-3 col-sm-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-map-marker big-glyphicon"></span>
				</div>
				<div class="col-md-9 col-sm-10 no-hpadding">
					<strong><%=t("event.location")%>:</strong><br/>
					<% if @event.is_online %>
						Online<br/>
					<% else %>
						<%=@event.place%><br/>
						<%=@event.address%><br/>
						<%=@event.city%>, <%=@event.country%>
					<% end %>
				</div>
			</div>

		</div>
		<!-- / small (sm), medium (md) y large (lg) logistics -->

		<!-- extra small (xs) logistics -->
		<div class="container-fluid no-hpadding visible-xs">

			<div class="col-xs-12">
				<div class="col-xs-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-user big-glyphicon"></span>
				</div>
				<div class="col-xs-10 no-hpadding event-facilitator-text">
					<strong><%=t("event.facilitator")%>:</strong><br/>
					<%=@event.trainer.name%>

					<% if @event.trainer.surveyed_count > 20 && !@event.trainer.average_rating.nil? %>
						<p>
						<div class="stars" id="rating-tr<%=@event.trainer.id%>-xs" data-toggle="tooltip" data-placement="top" title="Rating: <%=@event.trainer.average_rating%>/5 basado en <%=@event.trainer.surveyed_count%> opiniones de asistentes a sus eventos">
							<div style="width:<%=@event.trainer.average_rating.to_f*16%>px;"/></div>
						</div>
						<script type="text/javascript">
						$(document).ready(function(){
    						$('#rating-tr<%=@event.trainer.id%>-xs').tooltip();
  						});
						</script>
						</p>
					<% end %>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="col-xs-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-calendar big-glyphicon"></span>
				</div>
				<div class="col-xs-10 no-hpadding">
					<strong><%=t("event.date")%>:</strong><br/>
					<% if @event.finish_date.nil? || @event.date == @event.finish_date %>
					<%=@event.date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%>
					<% else %>
					Inicia: <%=@event.date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%><br/>
					Finaliza: <%=@event.finish_date.strftime("%d")%>-<%=DTHelper::MONTHS_ES[@event.finish_date.strftime("%b")]%>
					<% end %>
					<br/>&nbsp;
				</div>
			</div>

			<div class="col-xs-12">
				<div class="col-xs-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-time big-glyphicon"></span>
				</div>
				<div class="col-xs-10 no-hpadding">
					<strong><%=t("event.hour")%>:</strong><br/>
					<%=t("event.time", :starts => @event.start_time.strftime("%k:%M"), :ends => @event.end_time.strftime("%k:%M") )%>
					<% if @event.is_webinar %>
						<br/>Zona Horaria: <%=@event.time_zone_name%>
					<% end %>
					<br/>&nbsp;
				</div>
			</div>

			<div class="col-xs-12">
				<div class="col-xs-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-map-marker big-glyphicon"></span>
				</div>
				<div class="col-xs-10 no-hpadding">
					<strong><%=t("event.location")%>:</strong><br/>
					<% if @event.is_online %>
						Online<br/>
					<% else %>
						<%=@event.place%><br/>
						<%=@event.address%><br/>
						<%=@event.city%>, <%=@event.country%>
					<% end %>
					<br/>&nbsp;
				</div>
			</div>

		</div>
		<!-- /extra small (xs) logistics -->
	</div>
</div>

<% if @event.list_price == 0.0  %>
<div class="container-fluid fondo-verde slide-evento-gratuito">
	<div class="container">
		<h2><%=t("event.free")%></h2>
	</div>
</div>
<% elsif @event.show_pricing %>
<div class="container-fluid fondo-verde slide-evento-pricing">
	<div class="container">
		<!-- small (sm), medium (md) y large (lg) logistics -->
		<div class="container-fluid hidden-xs">

			<div class="col-md-3 col-sm-6">
				&nbsp;
			</div>

			<div class="col-md-9 col-sm-6 no-hpadding">
				<div class="col-md-1 col-sm-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-usd big-glyphicon"></span>
				</div>
				<div class="col-md-11 col-sm-10 no-hpadding">
					<strong><%=t("event.pricing")%>:</strong><br/>
					<% if @event.eb_price > 0 %>
						Pronto pago:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    	<%= sprintf("%05.2f", @event.eb_price) %>
                    	hasta el <%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>.<br/>
					<% end %>
					<% if @event.couples_eb_price > 0 %>
						Parejas:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    	<%= sprintf("%05.2f", @event.couples_eb_price) %>
                    	c/u hasta el <%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>.<br/>
					<% end %>
					Full price:
                    <%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    <%= sprintf("%05.2f", @event.list_price) %>
                    <% if @event.business_eb_price > 0 %>
                    	<br/>¡Pregunta por nuestras tarifas Business (Grupos)!
                    <% end %>
				</div>
			</div>
		</div>
		<!-- / small (sm), medium (md) y large (lg) logistics -->

		<!-- extra small (xs) logistics -->
		<div class="container-fluid no-hpadding visible-xs">

			<div class="col-xs-12">
				<div class="col-xs-2 no-hpadding logistic-indicator">
					<span class="glyphicon glyphicon-usd big-glyphicon"></span>
				</div>
				<div class="col-xs-10 no-hpadding">
					<strong><%=t("event.pricing")%>:</strong><br/>
					<% if @event.eb_price > 0 %>
						Pronto pago:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    	<%= sprintf("%05.2f", @event.eb_price) %>
                    	hasta el <%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>.<br/>
					<% end %>
					<% if @event.couples_eb_price > 0 %>
						Parejas:
						<%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    	<%= sprintf("%05.2f", @event.couples_eb_price) %>
                    	c/u hasta el <%=@event.eb_end_date.strftime("%d")%>-<%=month_es(@event.eb_end_date.strftime("%b"))%>.<br/>
					<% end %>
					Full price:
                    <%= "#{@event.currency_iso_code}#{currency_symbol_for( @event.currency_iso_code )}" %>
                    <%= sprintf("%05.2f", @event.list_price) %>
                    <% if @event.business_eb_price > 0 %>
                    	<br/>&nbsp;
                    	<br/>¡Pregunta por nuestras tarifas Business (Grupos)!
                    <% end %>
				</div>
			</div>

		</div>
		<!-- /extra small (xs) logistics -->
	</div>
</div>
<% end %>

<div class="container-fluid fondo-blanco">
	<div class="container">
		<div class="col-md-8 event-program-column evento-description-container">
			<h2><%=t("event.tabs.description")%></h2>
			<%=@markdown_renderer.render( @event.event_type.description )%>
		</div>
		<% if !@event.specific_conditions.nil? && @event.specific_conditions.strip != "" %>
			<div class="col-md-4 event-important-column">
				<div class="post-it-success">
					<h3><%=t("event.important")%></h3>
				</div>
				<%=@markdown_renderer.render( @event.specific_conditions )%>
			</div>
		<% end %>
	</div>
</div>

<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-md-4">
				<img src="/img/personajes/03_03_web.png" class="img-responsive"/>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.learnings.nil? && @event.event_type.learnings != "" %>
					<h2><%=t("event.details.sections.learnings")%></h2>
					<%=@markdown_renderer.render( @event.event_type.learnings )%>
				<% end %>
			</div>
			<div class="col-md-4">
				<% if !@event.event_type.takeaways.nil? && @event.event_type.takeaways != "" %>
					<h2><%=t("event.details.sections.takeaways")%></h2>
				    <%=@markdown_renderer.render( @event.event_type.takeaways )%>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-blanco">
	<div class="container">
		<div class="container-fluid event-target-column">
			<div class="col-md-6">
				<h2><%=t("event.tabs.target")%></h2>
				<%=@markdown_renderer.render( @event.event_type.recipients )%>
			</div>
			<div class="col-md-6 event-program-column">
				<h2><%=t("event.tabs.program")%></h2>
				<%=@markdown_renderer.render( @event.event_type.program )%>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-pano pano-6"></div>

<%= if not @event.is_community_event
	erb :_slide_experiencia_kleer, :layout => false
	end%>

<div class="container-fluid fondo-amarillo">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1 slide-evento-aprovecha">
			APROVECHA ESTA OPORTUNIDAD PARA APRENDER EN UN ENTORNO DONDE EL PROTAGONISTA ERES TÚ<br/>
			<br/>
			<%if @event.is_sold_out %>
				<a href="#" class="btn btn-danger btn-kleer btn-caps">
					<%=t("general.buttons.complete")%>
				</a>
			<% else %>
				<%
				if @event.is_community_event
					button_text = t("general.buttons.register")
				else
					button_text = t("general.buttons.i_am_interested")
				end

				if @event.registration_link != ""
					registration_link = @event.registration_link
				else
					registration_link = "http://eventos.kleer.la/events/#{@event.id}/participants/new?lang=" + session[:locale]
				end

				%>
				<a href="<%=registration_link%>" target="_blank" class="btn btn-success btn-kleer btn-caps">
					<%=button_text%>
				</a>
			<% end %>
			<br/>&nbsp;
			<br/>&nbsp;
		</div>
	</div>
</div>

<% if !@event.event_type.faqs.nil? && @event.event_type.faqs.strip != "" %>
<div class="container-fluid fondo-blanco">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<h2><%=t("event.tabs.faqs")%></h2>
			<%=@markdown_renderer.render( @event.event_type.faqs )%>
			<br/>&nbsp;
			<br/>&nbsp;
		</div>
	</div>
</div>
<% end %>

<div class="container-fluid fondo-pano pano-9"></div>
