
<script type="text/javascript" src="/js/jquery.js"/></script>

<script type="text/javascript" src="/js/jquery.dataTables.js"></script>

<script type="text/javascript">
<!--

$('body').on('hidden', '#myModalRegistration', function () {
  $(this).removeData('modal');
});

$('body').on('hidden', '#myModalFacilitator', function () {
  $(this).removeData('modal');
});

$('body').on('hidden', '#myModalSepyme', function () {
  $(this).removeData('modal');
  $('#myModalSepyme iframe').removeAttr('src');
});

-->
</script>

<div id="myModalRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Registro a Curso</h4>
  </div>
  <div class="modal-body">
    <p>Cargando...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="myModalFacilitator" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facilitador</h4>
  </div>
  <div class="modal-body">
    <p>Cargando...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="myModalSepyme" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Ahorrá hasta el 90%!</h4>
  </div>
  <div class="modal-body">
    <p>Cargando...</p>
  </div>
</div>

<div class="row-fluid">
	
	<div class="span9"> 
		<div class="row-fluid">
			<div class="span12" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
				<div class="row-fluid">
					<div class="span12">
						<h2><span class="label label-info"><%=@event.date.strftime("%d")%><br/><span class="lead"><%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%></span></span>&nbsp;<%=@event.event_type.name%></h2>
							<% if @event.is_webinar %>
								<i class="icon-globe"></i>&nbsp;<%=@event.city%>, <%=@event.country%>. <%=@event.start_time.strftime("%k:%M")%> a <%=@event.end_time.strftime("%k:%M")%>hs <%=@event.place%>
							<% else %>
								<i class="icon-map-marker"></i><%=@event.place%>, <%=@event.address%>, <%=@event.city%>, <img src="/img/flags/<%=@event.country_code.downcase%>.png"/> <%=@event.country%>. <%=@event.start_time.strftime("%k:%M")%> a <%=@event.end_time.strftime("%k:%M")%>hs
							<% end %>
						<br/>&nbsp;
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="span4">
								Facilitador:<br/>
								<a  data-toggle="modal" data-target="#myModalFacilitator" href="/entrenamos/evento/<%=@event.id%>/entrenador/remote"><i class="icon-user"></i>&nbsp;<%=@event.trainer.name%></a>&nbsp;
								<br/>&nbsp;
							</div>
							<div class="span8" align="right">
							  <%if !@event.is_sold_out%>
									<%if @event.sepyme_enabled%>
										<a data-toggle="modal" data-target="#myModalSepyme" href="/sepyme/remote"><span class="btn btn-info">Ahorrá hasta el 90%!</span></a>&nbsp;
									<%end%>
								<%end%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">&nbsp;</div>
		</div>
		<div class="row-fluid">
			<div class="span12" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
				<div class="row-fluid">
					<div class="span8">
						<ul class="nav nav-tabs" id="myTab">
						  <li class="active"><a href="#description" data-toggle="tab">Descripción</a></li>
						  <li><a href="#recipients" data-toggle="tab">Destinado A</a></li>
						  <li><a href="#program" data-toggle="tab">Programa</a></li>
						  <% if @event.event_type.faqs != "" %>
						  	<li><a href="#faqs" data-toggle="tab">FAQs</a></li>
						  <% end %>
						  <!-- li><a href="#details" data-toggle="tab">Detalles</a></li -->
						</ul>

						<div class="tab-content">
						  <div class="tab-pane active" id="description">
							<% if !@event.event_type.elevator_pitch.nil? %>
							  <%=@markdown_renderer.render( @event.event_type.elevator_pitch )%>
							<% end %>
							
							<% if @event.discount > 0.0 && @event.eb_end_date > Date.today %>
								<p style="color: #4b4e53; padding: 12px; border-radius: 12px; background: #6dfac6;"><strong>Asegura tu vacante antes del <%=@event.eb_end_date.strftime("%d")%> de <%=@event.eb_end_date.strftime("%b")%> para obtener un descuento de <%=@event.currency_iso_code%> <%=sprintf("%05.2f", @event.discount)%>!</strong> Tambi&eacute;n hay descuentos disponibles por cantidad de personas.</p>
							<% end %>
							
						  	<%=@markdown_renderer.render( @event.event_type.description )%>
						    
							<% if !@event.event_type.learnings.nil? && @event.event_type.learnings != "" %>
							    <div style="margin: 2em 0; background: #f9fb89; border: 1px solid #f0edce; padding: 12px; border-radius: 12px;">
									<h3>¿Qué voy a aprender?</h3>
							    	<%=@markdown_renderer.render( @event.event_type.learnings )%>
							    </div>
							<% end %>
						    
							<% if !@event.event_type.takeaways.nil? && @event.event_type.takeaways != "" %>
							    <div style="margin: 2em 0; background: #dd8fc1; border: 1px solid #f0edce; padding: 12px; border-radius: 12px;">
									<h3>¿Qué voy a obtener?</h3>
							    	<%=@markdown_renderer.render( @event.event_type.takeaways )%>
							    </div>
							<% end %>
							
						  </div>
						  <div class="tab-pane" id="recipients">
						  	<%=@markdown_renderer.render( @event.event_type.recipients )%>
							<br/>&nbsp;
						  </div>
						  <div class="tab-pane" id="program">
						  	<%=@markdown_renderer.render( @event.event_type.program )%>
							<br/>&nbsp;
						  </div>
						  <div class="tab-pane" id="faqs">
						  	<%=@markdown_renderer.render( @event.event_type.faqs )%>
							<br/>&nbsp;
						  </div>
						  <!--div class="tab-pane" id="details">
							<br/>&nbsp;
						  </div -->
						</div>
					</div>
					<div class="span4">
						<% if @event.eb_price == 0.0 %>
							<h4>Evento Gratuito</h4>
						<% end %>
						<h3>¿Querés Participar?</h3>
						<%if @event.is_sold_out%>
							<div class="alert alert-error"><strong>Ouch!</strong> El cupo para este evento se encuentra completo.</div>
							Puedes contactarnos a <a href="mailto:entrenamos@kleer.la?subject=Nuevas Fechas: <%=@event.friendly_title%>">entrenamos@kleer.la</a> para conocer nuevas fechas.
						<%else%>
							<%if @event.registration_link != "" %>
								<a href="<%=@event.registration_link%>" target="_blank"><span class="btn btn-success">Registrarme!</span></a>
							<%else %>
								<iframe src="http://eventos.kleer.la/events/<%=@event.id%>/participants/new?nakedform=1" width="100%" height="290" border="0" scrolling="no" seamless></iframe>
							<%end%>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="span3" style="text-align:center;">  
		<div class="row-fluid">
			<div class="span12">
				<img src="/img/logos/logo-agiles2013.png">
				<%= erb :twitter_box, :layout => false %>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">	
			<div class="span12" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
				<h3>Lugar</h3>
				<% if @event.is_webinar %>
					<img src="https://maps.google.com/maps/api/staticmap?language=es&zoom=0.5&size=190x190&maptype=satellite&sensor=false">
					<br/><%=@event.place%><br/>
					<%=@event.start_time.strftime("%k:%M")%> a <%=@event.end_time.strftime("%k:%M")%>hs<br/>
					<%=@event.country%><br/><br/>
				<% else %>
					<a href="https://maps.google.com/maps?q=<%=URI::encode(@event.address)%>,+<%=URI::encode(@event.city)%>,+<%=URI::encode(@event.country)%>" target="_blank">
						<img src="https://maps.google.com/maps/api/staticmap?language=es&center=<%=URI::encode(@event.address)%>,+<%=URI::encode(@event.city)%>,+<%=URI::encode(@event.country)%>&markers=size:mid|color:red|<%=URI::encode(@event.address)%>,+<%=URI::encode(@event.city)%>,+<%=URI::encode(@event.country)%>&zoom=15&size=190x190&maptype=roadmap&sensor=false"><br/>
					</a>
					<br/><%=@event.place%><br/><%=@event.address%><br/><%=@event.city%>, <%=@event.country%><br/>
					<%=@event.start_time.strftime("%k:%M")%> a <%=@event.end_time.strftime("%k:%M")%>hs<br/><br/>
				<% end %>
			</div>
		</div>	
		&nbsp;
		<!-- div class="row-fluid">
			<div class="span12" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
				<h3>Compartir</h3>
				<span class='st_email_hcount' displayText='Email' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span>
				<span class='st_facebook_hcount' displayText='Facebook' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span><br/><br/>
				<span class='st_twitter_hcount' displayText='Tweet' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span>
				<span class='st_linkedin_hcount' displayText='LinkedIn' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span><br/><br/>
				<span class='st_pinterest_hcount' displayText='Pinterest' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span>
				<span class='st_googleplus_hcount' displayText='G +' st_title='<%=@event.friendly_title%>' st_url='http://kleer.la/<%=@event.uri_path%>'></span><br/><br/>
			</div>
			
		</div -->
		&nbsp;
		<div class="row-fluid">
			<div class="span12">
				<%#erb :facebook_box, :layout => false, :locals => { :height => 400, :width => 100, :span => "span3" } %>
			</div>
		</div>
	</div>
	
</div>

<!-- social scripts -->
<!-- script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "dcd6ccd6-45d9-4bb1-9b6f-b9742b986b08", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script -->
