<div class="container-fluid fondo-celeste slide-header-evento">
  <div class="container">
    <div class="container-fluid container-header-generico container-header-evento">
      <div class="col-md-7">
        <div class="evento-title-container">
          <h2><%= @event_type.name %></h2>
          <h3><%= @event_type.duration%> <%=t("event.duration")%></h3>
          <p><%= @event_type.elevator_pitch %></p>

          <% if @event_type.has_rate %>
            <p>
            <div class="stars" id="rating" data-toggle="tooltip" data-placement="top" title="Rating: <%=@event_type.average_rating%>/5 <%=t("event.rating.based")%> <%=@event_type.surveyed_count%> <%=t("event.rating.opinion")%>">
              <div style="width:<%=@event_type.average_rating.to_f*16%>px;"/></div>
            </div>
            <script type="text/javascript">
            $(document).ready(function(){
                $('#rating').tooltip();
              });
            </script>
            </p>
          <% end %>
          <br/>&nbsp;
        </div>
      </div>
      <div class="col-md-5 hidden-xs hidden-sm">
        &nbsp;<br/>
        <% if @event_type.has_rate %>
          <div class="col-md-12">
            <img src="/img/personajes/<%=t('kleeros.nps')%>" height="400">
          </div>
          <div class="col-md-5 evento-nps">
            <h2><%=@event_type.promoter_count%> <%=t("event.rating.outof")%> <%=@event_type.surveyed_count%></h2>
          </div>
          <div class="col-md-6 evento-nps-explanation">
            <a href="http://www.netpromoter.com/why-net-promoter/know/" target="_blank">Net Promoter Score</a>: <strong><%=@event_type.net_promoter_score%></strong></h2>
          </div>
        <% else %>
          <img src="/img/personajes/<%=t('kleeros.live')%>" height="500">
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-verde slide-event-type-category-name">
  <div class="container">
    <%= @event_type.name %><%=t("event.tabs.linking_with_category")%>
    <h2><%=@category.name%></h2>
  </div>
</div>

<%
if @event_type.public_editions.size > 0
  description_column_width = 8
else
  description_column_width = 12
end
%>

<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="col-md-<%=description_column_width%> evento-description-container">
      <h2><%=t("event.tabs.description")%></h2>
      <%=@markdown_renderer.render( @event_type.description )%>
    </div>
    <% if @event_type.public_editions.size > 0 %>
      <div class="col-md-4">
        <div class="post-it-success">
          <h3><%=t("event.public_editions")%></h3>
            &nbsp;<br/>
            <% @event_type.public_editions.each do |event| %>
              &nbsp;
              <div class="row">
                <div class="col-md-3">
                  <%
                  date_line = "<table border=\"0\" align=\"center\" cellpadding=\"2\"><tr>"
                  if event.date != event.finish_date && !event.finish_date.nil?
                    post_it_width = "80px;"
                    date_line += "<td>#{event.date.strftime("%d")}</td>"
                    date_line += "<td rowspan=2>&nbsp;-&nbsp;</td>"
                    date_line += "<td>#{event.finish_date.strftime("%d")}</td>"
                    date_line += "</tr><tr>"
                    date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
                    date_line += "<td>#{month_es(event.finish_date.strftime("%b"))}</td>"
                  else
                    post_it_width = "40px;"
                    date_line += "<td>#{event.date.strftime("%d")}</td>"
                    date_line += "</tr><tr>"
                    date_line += "<td>#{month_es(event.date.strftime("%b"))}</td>"
                  end
                  date_line += "</tr></table>"
                  %>
                  <div class="klabel-date" style="width:<%=post_it_width%>"><%=date_line%></div>
                </div>
                <div class="col-md-9" style="text-align:left;">
                  <a href="/<%=session[:locale]%>/<%=event.is_community_event ? "comunidad" : "entrenamos" %>/evento/<%=url_sanitize(event.uri_path)%>">
                    <%=event.event_type.name%>
                  </a><br/>
                  <img src="/img/flags/<%=event.country_code.downcase%>.png"/>
                  <%=event.city%>, <%=event.country%>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid fondo-panramica-1"></div>

<div class="container-fluid fondo-celeste">
  <div class="container">
    <div class="container-fluid col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/img/personajes/03_03_web.png" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <% if !@event_type.learnings.nil? && @event_type.learnings != "" %>
          <h2><%=t("event.details.sections.learnings")%></h2>
          <%=@markdown_renderer.render( @event_type.learnings )%>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if !@event_type.takeaways.nil? && @event_type.takeaways != "" %>
          <h2><%=t("event.details.sections.takeaways")%></h2>
            <%=@markdown_renderer.render( @event_type.takeaways )%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="container-fluid event-target-column">
      <div class="col-md-6">
        <h2><%=t("event.tabs.target")%></h2>
        <%=@markdown_renderer.render( @event_type.recipients )%>
      </div>
      <div class="col-md-6 event-program-column">
        <h2><%=t("event.tabs.program")%></h2>
        <%=@markdown_renderer.render( @event_type.program )%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fondo-pano pano-3"></div>

<div class="container-fluid fondo-amarillo slide-event-type-category-name">
  <div class="container">
    <%= @event_type.name %> te ayuda a lograr
    <h2><%=@category.name%></h2>
  </div>
</div>

<% if !@event_type.faqs.nil? && @event_type.faqs.strip != "" %>
<div class="container-fluid fondo-blanco">
  <div class="container">
    <div class="col-md-8">
      <h2><%=t("event.tabs.faqs")%></h2>
      <%=@markdown_renderer.render( @event_type.faqs )%>
      <br/>&nbsp;
      <br/>&nbsp;
    </div>
    <div class="col-md-4">
      &nbsp;
      <div class="well categoria-<%= @category.codename %>">
        Otros entrenamientos de esta categoría:<br/>&nbsp;
        <div class="list-group">
          <% @category.event_types.sort_by { |et| et.name}.each do |event_type| %>
            <a href="/<%=session[:locale]%>/categoria/<%=@category.codename%>/cursos/<%= event_type.uri_path%>" class="list-group-item">
              <h3 class="list-group-item-heading"><%=event_type.name%></h3>
              <p class="list-group-item-text">
                <%=event_type.duration%> horas.
                <% if event_type.has_rate %>
                          &nbsp;<div class="stars" id="rating<%= event_type.id %>" data-toggle="tooltip" data-placement="top" title="Rating: <%=event_type.average_rating%>/5 en base a <%=event_type.surveyed_count%> opiniones">
                            <div style="width:<%=event_type.average_rating.to_f*16%>px;"/></div>
                          </div>
                          <script type="text/javascript">
                            $(document).ready(function(){
                                $('#rating<%= event_type.id %>').tooltip();
                              });
                          </script>
                        <% end %>
              </p>
            </a>
          <% end %>
        </div>
      </div>
      &nbsp;
    </div>
  </div>
</div>
<% end %>

<div class="container-fluid fondo-pano pano-5"></div>
