<h3><%=@event.event_type.name%></h3>
<p><%=@event.event_type.description%></p>
<h5>Objetivos</h5><p><%=@event.event_type.goal%></p>
<h5>Destinado A</h5><p><%=@event.event_type.recipients%></p>
<h5>Programa</h5><p><%=@event.event_type.program%></p>