<style>
	body {
		background: url(/img/fondos/fondo-10.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<script type="text/javascript" src="/js/jquery.dataTables.js"></script>

<script type="text/javascript">
<!--

$('body').on('hidden', '#myModalRegistration', function () {
  $(this).removeData('modal');
});

$('body').on('hidden', '#myModalFacilitator', function () {
  $(this).removeData('modal');
});

-->
</script>

<div id="myModalRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Registro a Curso</h4>
  </div>
  <div class="modal-body">
    <p>Cargando...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="myModalFacilitator" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facilitador</h4>
  </div>
  <div class="modal-body">
    <p>Cargando...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=104053446339772";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="row">
	<div class="span4" style="text-align:center;">  
		<img src="/img/logos/logo-01.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
	
	<div class="span7" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<div class="row">
			<div class="span1">
				<span class="label label-info"><%=@event.date.strftime("%d")%><br/><span class="lead"><%=DTHelper::MONTHS_ES[@event.date.strftime("%b")]%></span></span><br/>
				&nbsp;<br/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="kleer_la">Tweet</a></br>
				<div class="fb-like" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
			</div>
			<div class="span6">
				<h3><%=@event.event_type.name%></h3>
				<img src="/img/flags/<%=@event.country_code.downcase%>.png"/>  <%=@event.place%><br/><%=@event.city%>, <%=@event.country%><br/><br/>
				<div class="row">
					<div class="span4">
						Facilitador:<br/>
						<a  data-toggle="modal" data-target="#myModalFacilitator" href="/entrenamos/evento/<%=@event.id%>/entrenador/remote"><i class="icon-user"></i>&nbsp;<%=@event.trainer.name%></a>&nbsp;
					</div>
					<div class="span2">
						<%if @event.is_sold_out%>
								<a data-toggle="modal" data-target="#myModalRegistration" href="/entrenamos/evento/<%=@event.id%>/registration"><span class="btn btn-danger">Completo</span></a>
							  <%elsif @event.registration_link != "" %>
								<a href="<%=@event.registration_link%>" target="_blank"><span class="btn btn-success">Registrarme!</span></a>
							  <%else %>
								<a data-toggle="modal" data-target="#myModalRegistration" href="/entrenamos/evento/<%=@event.id%>/registration"><span class="btn btn-success">Registrarme!</span></a>
							  <%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="span7">&nbsp;</div>
	
	<div class="span7" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#description" data-toggle="tab">Descripción</a></li>
		  <li><a href="#goal" data-toggle="tab">Objetivos</a></li>
		  <li><a href="#recipients" data-toggle="tab">Destinado A</a></li>
		  <li><a href="#program" data-toggle="tab">Programa</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="description">
		  	<%=@markdown_renderer.render( @event.event_type.description )%>
		    <br/>&nbsp;
		  </div>
		  <div class="tab-pane" id="goal">
		  	<%=@markdown_renderer.render( @event.event_type.goal )%>
		    <br/>&nbsp;
		  </div>
		  <div class="tab-pane" id="recipients">
		  	<%=@markdown_renderer.render( @event.event_type.recipients )%>
			<br/>&nbsp;
		  </div>
		  <div class="tab-pane" id="program">
		  	<%=@markdown_renderer.render( @event.event_type.program )%>
			<br/>&nbsp;
		  </div>
		</div>
		
	</div>
</div>