<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%=@page_title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Begin Inspectlet Embed Code -->
	<script type="text/javascript" id="inspectletjs">
		window.__insp = window.__insp || [];
		__insp.push(['wid', 2134724726]);
		(function() {
			function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
			if (window.attachEvent){
				window.attachEvent('onload', __ldinsp);
			}else{
				window.addEventListener('load', __ldinsp, false);
			}
		})();
	</script>
	<!-- End Inspectlet Embed Code -->

	<%if !@twitter_card.nil? %>
	    <meta name="twitter:card" content="summary">
	    <meta name="twitter:site" content="<%=@twitter_card.site%>">
	    <meta name="twitter:creator" content="<%=@twitter_card.creator%>">
	    <meta name="twitter:title" content="<%=@twitter_card.title%>">
	    <meta name="twitter:description" content="<%=@twitter_card.description%>">
	    <meta name="twitter:image" content="<%=@twitter_card.image_url%>">
	<% end %>

	<!-- Le styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/bootstrap-social.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
	<link href="/css/kleer.css" rel="stylesheet">
	<link href="/css/kleer-responsive.css" rel="stylesheet">
	<style>
		body {
			<%if @active_tab_index!="active" %>
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			<%end%>
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		h1, h2, h3, h4, h5, h6 {font-family: 'Roboto';}

		/* ---------------- FOOTER --------------------- */
		/* Set the fixed height of the footer here */
		      #push,
		      #footer {
		        height: 400px;
		      }
		      #footer {
		        background-color: #4d4f53;
		      }

		      /* Lastly, apply responsive CSS fixes as necessary */
		      @media (max-width: 767px) {
		        #footer {
		          margin-left: -20px;
		          margin-right: -20px;
		          padding-left: 20px;
		          padding-right: 20px;
		        }
		      }




	</style>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="/img/favicon.ico">
	<!-- Fav and touch icons -->
	<!--
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
	-->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-21102272-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>

	<div class="navbar navbar-fixed-top">
		<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
		<div class="container">

			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/<%=session[:locale]%>/"><img class="nav-logo" src="/img/logos/K-kleer_horizontal_blanco_web-strip.png"/></a>
			</div><!-- /.navbar-header -->

			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
			    <li class="dropdown <%=@active_tab_entrenamos%>">
			    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    		<%=t("menu.training.root")%> <b class="caret"></b>
			    	</a>
          			<ul class="dropdown-menu">
	                	<li>
	                		<a href="/<%=session[:locale]%>/entrenamos">
	                			<%=t("menu.training.calendar")%>
	                		</a>
	                	</li>
						<li>
							<a href="/<%=session[:locale]%>/catalogo">
								<%=t("menu.training.catalog")%>
							</a>
						</li>
					</ul>
			    </li>
          		<li class="<%=@active_tab_coaching%>"><a href="/<%=session[:locale]%>/coaching">
          			<%=t("menu.coaching")%></a></li>
								<li class="<%=@active_tab_facilitacion%>"><a href="/facilitacion">
	          			<%=t("menu.facilitation")%></a></li>
				<li class="<%=@active_tab_comunidad%>"><a href="/<%=session[:locale]%>/comunidad"><%=t("menu.community")%></a></li>
			    <li class="dropdown <%=@active_tab_blog%><%=@active_tab_publicamos%>">
			    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    		<%=t("menu.publishing.root")%> <b class="caret"></b>
			    	</a>
          			<ul class="dropdown-menu">
	                	<li>
	                		<a href="/<%=session[:locale]%>/blog">
	                			<%=t("menu.publishing.blog")%>
	                		</a>
	                	</li>
						<li>
							<a href="/<%=session[:locale]%>/publicamos">
								<%=t("menu.publishing.book")%>
							</a>
						</li>
						<li>
							<a href="http://www.youtube.com/channel/UCAIGRA-4HRyx0fUUM9cjvQw" target="_blank">
								<%=t("menu.publishing.video")%>
							</a>
						</li>
					</ul>
			    </li>
				<li class="<%=@active_tab_somos%>"><a href="/<%=session[:locale]%>/somos"><%=t("menu.we_are")%></a></li>
			  </ul>
			</div><!--/.navbar-collapse -->

	    </div><!-- /.container -->

	</div><!-- /.navbar navbar-fixed-top -->


		<% if flash.now[:error] %>
		<div class="row">
			<div class="alert alert-error">
			  <h4>Error!</h4>
			  <%=flash.now[:error]%>
			</div>
		</div>
		<% end %>
		<%= yield %>

	<%= erb :_slide_contactanos, :layout => false %>

	<div class="row-fluid fondo-gris">
		<div class="container">
			&nbsp;<br/>
			<a href="/<%=session[:locale]%>/"><img class="nav-logo" src="/img/logos/K-kleer_horizontal_blanco_web-strip.png"/></a><br/>
			&nbsp;
		</div>
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/parallax-init.js"></script>
	<!-- SnapEngage
	================================================== -->
	<script type="text/javascript">
		document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		SnapABug.setLocale("<%=session[:locale]%>");
		SnapABug.addButton("ab0964bc-0c2b-4b9b-8f59-b3e3cdb81b04","0","55%");
	</script>
</body>
</html>
