
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h1><%=t("press.title")%></h1>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<img src="/img/prensa/kleer-prensa.jpg" class="img-responsive">

			<h3><%=t("press.release10_title")%></h3>
			<p><i>ElContact.com - 18/Ago/2015</i></p>
			<p><%=t("press.release10_text")%>&nbsp;<a href="http://www.elcontact.com/2015/08/kleer-sera-anfitrion-de-la-1-jornada-de.html" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://www.elcontact.com/2015/08/kleer-sera-anfitrion-de-la-1-jornada-de.html" target="_blank"><img src="/img/prensa/1ra-jornada-de-metacreatividad.png" class="img-responsive"></a>

			<h3><%=t("press.release09_title")%></h3>
			<p><i>LatinSpots.com - 10/Jul/2015</i></p>
			<p><%=t("press.release09_text")%>&nbsp;<a href="http://www.latinspots.com/site/sp/nota/detalle/36734/5-beneficios-de-las-agencias-ms-giles" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://www.latinspots.com/site/sp/nota/detalle/36734/5-beneficios-de-las-agencias-ms-giles" target="_blank"><img src="/img/prensa/5-beneficios-de-las-agencias-agiles.png" class="img-responsive"></a>

			<h3><%=t("press.release08_title")%></h3>
			<p><i>Canal AR - 8/Jul/2015</i></p>
			<p><%=t("press.release08_text")%>&nbsp;<a href="http://canal-ar.com.ar/21854-7-claves-del-Coaching-de-Equipos.html" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://canal-ar.com.ar/21854-7-claves-del-Coaching-de-Equipos.html" target="_blank"><img src="/img/prensa/7-claves-del-coaching-de-equipos.png" class="img-responsive"></a>

			<h3><%=t("press.release07_title")%></h3>
			<p><i>CIO Perú - 7/Jul/2015</i></p>
			<p><%=t("press.release07_text")%>&nbsp;<a href="http://cioperu.pe/articulo/19181/como-el-tipo-de-contrato-puede-condicionar-un-proyecto-complejo/" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://cioperu.pe/articulo/19181/como-el-tipo-de-contrato-puede-condicionar-un-proyecto-complejo/" target="_blank"><img src="/img/prensa/cio-peru-2015.png" class="img-responsive"></a>

			<h3><%=t("press.release06_title")%></h3>
			<p><i>La burbuja - Radio Milenium - 5/Jul/2015</i></p>
			<p><%=t("press.release06_text")%></p>
      <iframe width="50%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218800859&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

			<h3><%=t("press.release05_title")%></h3>
			<p><i>CCSur - 16/Jun/2015</i></p>
			<p><%=t("press.release05_text")%>&nbsp;<a href="http://www.ccsur.com/kleer-participara-en-agile-open-spain-2015/" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://www.ccsur.com/kleer-participara-en-agile-open-spain-2015/" target="_blank"><img src="/img/prensa/kleer-en-el-aos.png" class="img-responsive"></a>

			<h3><%=t("press.release04_title")%></h3>
			<p><i>CRONISTA.COM - 3/Abr/2014</i></p>
			<p><%=t("press.release04_text")%>&nbsp;<a href="http://www.cronista.com/pyme/Una-tribu-de-coaches-que-hace-escuela-en-la-region-20140403-0010.html" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://www.cronista.com/pyme/Una-tribu-de-coaches-que-hace-escuela-en-la-region-20140403-0010.html" target="_blank"><img src="/img/prensa/tribu-de-coaches.jpg" class="img-responsive"></a>
			
			<h3><%=t("press.release03_title")%></h3>
			<p><i>PulsoSocial - 7/Mar/2014</i></p>
			<p><%=t("press.release03_text")%>&nbsp;<a href="http://pulsosocial.com/2014/03/07/scrum-el-adios-para-siempre-productos-eternos-que-tardan-meses-en-ver-la-luz/" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://pulsosocial.com/2014/03/07/scrum-el-adios-para-siempre-productos-eternos-que-tardan-meses-en-ver-la-luz/" target="_blank"><img src="/img/prensa/scrum-el-adios-para-siempre.jpg" class="img-responsive"></a>
						
			<h3><%=t("press.release02_title")%></h3>
			<p><i>lanacion.com - 15/Feb/2014</i></p>
			<p><%=t("press.release02_text")%>&nbsp;<a href="http://www.lanacion.com.ar/1664230-el-secreto-de-tus-ojos-a-veces-las-imagenes-ayudan-a-innovar" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://www.lanacion.com.ar/1664230-el-secreto-de-tus-ojos-a-veces-las-imagenes-ayudan-a-innovar" target="_blank"><img src="/img/prensa/secreto-de-sus-ojos.jpg" class="img-responsive"></a>
			
			<h3><%=t("press.release01_title")%></h3>
			<p><i>GESTION.PE - 12/Feb/2014</i></p>
			<p><%=t("press.release02_text")%>&nbsp;<a href="http://gestion.pe/empleo-management/scrum-rugby-oficina-2088899" target="_blank"><%=t("general.buttons.see_more")%></a></p>
			<a href="http://gestion.pe/empleo-management/scrum-rugby-oficina-2088899" target="_blank"><img src="/img/prensa/scrum-del-rugby-a-la-oficina.jpg" class="img-responsive"></a>
		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
