
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h1><%=t("press.title")%></h1>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<p class="lead"><%=t("press.subtitle")%></p>
			<p><%=t("press.description")%></p>
			<hr/>
			<h3><%=t("press.release01_title")%></h3>
			<p><%=t("press.release01_text")%></p>
			<a href="http://www.cronista.com/pyme/Una-tribu-de-coaches-que-hace-escuela-en-la-region-20140403-0010.html" target="_blank"><%=t("general.buttons.see_more")%></a>
			<hr/>
			<h3><%=t("press.release02_title")%></h3>
			<p><%=t("press.release02_text")%></p>
			<a href="http://pulsosocial.com/2014/03/07/scrum-el-adios-para-siempre-productos-eternos-que-tardan-meses-en-ver-la-luz/" target="_blank"><%=t("general.buttons.see_more")%></a>
			<hr/>
			<h3><%=t("press.release03_title")%></h3>
			<p><%=t("press.release03_text")%></p>
			<a href="http://gestion.pe/empleo-management/scrum-rugby-oficina-2088899" target="_blank"><%=t("general.buttons.see_more")%></a>
			<hr/>
			<h3><%=t("press.release04_title")%></h3>
			<p><%=t("press.release04_text")%></p>
			<a href="http://www.lanacion.com.ar/1664230-el-secreto-de-tus-ojos-a-veces-las-imagenes-ayudan-a-innovar" target="_blank"><%=t("general.buttons.see_more")%></a>
		</div>
		<div class="col-md-3">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
