<style>
	body {
		background: url(/img/fondos/fondo-10.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>
<script>
function processTweet(tweet) {
	tweet = tweet.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig, function(url) {
        return '<a href="'+url+'">'+url+'</a>';
    }).replace(/B@([_a-z0-9]+)/ig, function(reply) {
        return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
    });
	return tweet;
}
</script>

<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Somos</h1>
		<p class="lead">Acompañamiento de organizaciones, equipos y profesionales</p>
		
		<% @kleerers.each do |kleerer| %>
		
			<div class="row">
				<div class="span1"> 
					<img src="<%=kleerer.gravatar_picture_url%>" class="img-circle">
					<br/>&nbsp;
					<% if kleerer.linkedin_url != "" %>
					<br/><a href="<%=kleerer.linkedin_url%>" target="_blank"><img src="/img/icons/linkedin.png" height="24" width="24"></a>
					<% end %>
				</div>
				<div class="span7">
					<div class="row">
						<div class="span3">
							<h2><%=kleerer.name%></h2>
						</div>
						<div class="span4">
							<% if kleerer.twitter_username != "" %>
							<div class="popover right" style="display:inline-block;position:relative;" id="<%=kleerer.twitter_username.gsub("@","")%>_twitter_container">
								<div class="arrow"></div>
							    <h3 class="popover-title"><a href="https://twitter.com/<%=kleerer.twitter_username.gsub("@","")%>" target="_blank"><img src="/img/icons/twitter.png" height="24" width="24"></a> <%=kleerer.twitter_username%></h3>
							    <div class="popover-content" id="<%=kleerer.twitter_username.gsub("@","")%>_last_tweet">
							    	Buscando último tweet...
							    </div>
							</div>
							<% end %>
						</div>
					</div>
					<div class="row">
						<p><%=@markdown_renderer.render( kleerer.bio )%></p>
					</div>
				</div>
			</div>
			<hr/>
		
		<% end %>
		
	</div>	
	<div class="span3">  
		<img src="/img/logos/logo-02.png">
	</div>
</div>

<% @kleerers.each do |kleerer| %>
	<% if kleerer.twitter_username != "" %>
	<script>
	function show_<%=kleerer.twitter_username.gsub("@","")%>_tweet(data) {
		tweet = processTweet(data[0].text);
		$("#<%=kleerer.twitter_username.gsub("@","")%>_last_tweet").html(tweet);
	}
	</script>
	<script type="text/javascript" src="https://api.twitter.com/1/statuses/user_timeline.json?include_entities=true&include_rts=true&screen_name=<%=kleerer.twitter_username.gsub("@","")%>&count=1&callback=show_<%=kleerer.twitter_username.gsub("@","")%>_tweet"></script>
	<% end %>
<% end %>
	