<div class="container-fluid fondo-celeste slide-home-publicaciones">
	<div class="container container-home-publicaciones">
		<br/>
		<h1 class="publicaciones-title">Newsletter</h1>
		<strong><%=@fname%></strong>, gracias por suscribirte al Newsletter de Kleer. Periódicamente recibirás novedades en <strong><%=@email%></strong>.<br/><br/>
		Mientras tanto, te invitamos a conocer nuestros cursos y eventos comunitarios.
		<br/><br/><br/><br/>
	</div>
</div>

<div class="container-fluid fondo-amarillo-top">&nbsp;<br/>&nbsp;</div>

<div class="container-fluid fondo-amarillo slide-home-cursos">
		<div class="container">
			<div class="col-md-9 no-hpadding">
				<div class="container-fluid no-hpadding">
					<div class="col-md-4">
						<h1>Cursos</h1>
						<p>
							<ul>
								<li>Con los profesionales más reconocidos de latinoamérica</li>
								<li>100% vivenciales</li>
								<li>Dinámicos, divertidos y útiles</li>
								<li>Certificaciones avaladas por la Scrum Alliance</li>
							</ul>
						</p>
						<p>
							&nbsp;<br/>
							<img src="/img/sa-rep-logo.png" class="img-responsive">
						</p>
					</div>
					<div class="col-md-8 agenda">
						<h2>Agenda</h2>
						<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos" width="100%">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<br/>&nbsp;
						<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
						<script type="text/javascript">
						$(document).ready(function() {
							$('#cursos').dataTable( {
								"ajax": '/<%=session[:locale]%>/entrenamos/eventos/proximos/5',
								"searching": false,
								"ordering": false,
								"paging": false,
								"bLengthChange": false,
								"aoColumns": [
									{ "sWidth": "10%" },
									{ "sWidth": "90%" }
								],
								/* "sScrollY": "300px", */
								"oLanguage": {
									"sLengthMenu":   "Mostrar _MENU_ registros",
									"sZeroRecords":  "<div class=\"alert alert-warning center\"><%=t("dt_grid.loading")%></div>",
									"sInfo":         "",
									"sInfoEmpty":    "",
									"sInfoFiltered": "",
									"sInfoPostFix":  "",
									"sUrl":          ""
								},
								"fnInitComplete": function(oSettings, json) {
									oSettings.oLanguage.sZeroRecords = "<div class=\"alert alert-warning\"><%=t("dt_grid.no_courses_found")%></div>";
								}
							});
						});
						</script>
					</div>
				</div>
				<div class="row-fluid">
					&nbsp;<br/>
					NUESTROS CURSOS PUEDEN FACILITARSE EXCLUSIVAMENTE EN TU ORGANIZACIÓN&nbsp;&nbsp;<a href="mailto:entrenamos@kleer.la" class="btn btn-info btn-kleer">SOLICITA<br/>INFORMACIÓN</a>
				</div>
			</div>
			<div class="col-md-3 visible-md visible-lg">
				<img src="/img/personajes/<%=t('kleeros.live')%>" class="img-responsive">
			</div>
		</div>
</div>

<div class="container-fluid fondo-verde-top-derecha">&nbsp;</div>

<div class="container-fluid fondo-verde slide-home-comunidad">
	<div class="container">
		<div class="col-md-7">
			<h1>Comunidad</h1>
			<p>APOYAMOS ACTIVAMENTE LAS COMUNIDADES LATINOAMERICANAS</p>
			<p>Nacimos de la comunidad y queremos devolver siempre a la comunidad. Compartimos conocimientos, tiempo, experiencias y estados de ánimo con comunidades profesionales, educativas, regionales y de todo tipo.</p>
			<div class="container-fluid no-hpadding">
				<div class="col-md-12 no-hpadding">
					<img src="/img/personajes/<%=t('kleeros.community')%>" class="img-comunidad-gratuitas">
				</div>
			</div>
		</div>
		
		<div class="col-md-5">
			<div class="container-fluid no-hpadding">
				<div class="col-md-12 comunidad">
					<h2>Eventos Comunitarios</h2>
					<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="comunidad" width="95%">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<br/>&nbsp;
					<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
					<script type="text/javascript">
					$(document).ready(function() {
						$('#comunidad').dataTable( {
							"ajax": '/<%=session[:locale]%>/comunidad/eventos/proximos/5',
							"searching": false,
							"ordering": false,
							"paging": false,
							"bLengthChange": false,
							"aoColumns": [
								{ "sWidth": "10%" },
								{ "sWidth": "90%" }
							],
							/* "sScrollY": "300px", */
							"oLanguage": {
								"sLengthMenu":   "Mostrar _MENU_ registros",
								"sZeroRecords":  "<div class=\"alert alert-warning center\"><%=t("dt_grid.loading")%></div>",
								"sInfo":         "",
								"sInfoEmpty":    "",
								"sInfoFiltered": "",
								"sInfoPostFix":  "",
								"sUrl":          ""
							},
							"fnInitComplete": function(oSettings, json) {
								oSettings.oLanguage.sZeroRecords = "<div class=\"alert alert-warning\"><%=t("dt_grid.no_courses_found")%></div>";
							}
						});
					});
					</script>
				</div>
				<div class="col-md-12 slide-home-comunidad-logos-ch">
					<img src="/img/logos/agiles.png" width="75">&nbsp;<img src="/img/logos/agiles.png" width="75">&nbsp;<img src="/img/logos/agiles-colombia.png" width="75">&nbsp;<img src="/img/logos/agiles-peru.png" width="75">&nbsp;<img src="/img/logos/agiles.png" width="75">
				</div>
			</div>
		</div>
	</div>
</div>